<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="zuru95ConnectionString" connectionString="Data Source=zuru95.database.windows.net;Initial Catalog=zuru95;Persist Security Info=True;User ID=zuru95;Password=Koalahads18"
      providerName="System.Data.SqlClient" />
    <add name="zuru95ConnectionString2" connectionString="Data Source=zuru95.database.windows.net;Initial Catalog=zuru95;Persist Security Info=True;User ID=zuru95;Password=Koalahads18"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0"/>
    <httpRuntime/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>

  </configuration>